// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';


// Override Variables
$blue: hsl(218, 71%, 53%);


// ???
$c-primary: $blue;


@import 'bulma';
@import 'font-awesome';
@import 'box-sizing';

.nav {
  background: $c-primary;
}

a.nav-item {
  color: $white-bis;
}

.is-brand {
  font-size: 1.2rem;
  font-weight: normal;
}
